body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
}

.page-nav .link:hover {
  color: #404bbf;
}

.address .link,
.section-text {
  color: #434455;
  line-height: 1.5;
}

.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.logo-header {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-header span {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}

.logo-footer {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-footer span {
  color: #4d5ae5;
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}
.order-service:hover {
  background-color: #404bbf;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  font-size: 20px;
}

p {
  color: #f4f4fd;
}

h2 {
  color: #2e2f42;
}

footer,
.main-section {
  background-color: #2e2f42;
}

.section-our-team {
  background-color: #f4f4fd;
}
